/* Estilos para la tabla */
.table th,
.table td {
    text-align: center;
}

/* Estilo especial para el top score */
.top-score {
    background-color: #ffdc00; /* Color dorado para el top 1 */
    font-weight: bold;
}

.top-score-text {
    color: #000; /* Texto negro para el top 1 */
}

/* Aplica un fondo dorado para el primer lugar */
.top1 {
    background-color: #ffd700; /* Color dorado */
    color: black;
}

.profile-picture-container {
    position: relative;
}

.crown-img {
    position: absolute;
    top: 10%; /* Ajusta la posición vertical de la corona */
    left: 50%; /* Centra la corona horizontalmente */
    transform: translate(-50%, -50%); /* Centra la corona dentro de su propio contenedor */
    width: 60px; /* Ajusta el ancho de la corona */
    height: 60px; /* Ajusta la altura de la corona */
}
